@page "/maps/{id}"
@if (_isLoading)
{
    <MudSkeleton />
    <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="20vw" Height="20vw" />
}
else
{
    <MudContainer>
    <MudText Typo="Typo.h2" Align="Align.Center">@_response.Map.DisplayName</MudText>
    <MudItem Class="image-container">
        @if (_response.MapsNeededRotated.Contains(_response.Map.DisplayName))
            {
                <MudImage Src="@_response.Map.DisplayIcon.AbsoluteUri"
                    Style="width: 50%; height: 75%; transform: rotate(90deg);" />
            }
            else
            {
                <MudImage Src="@_response.Map.DisplayIcon.AbsoluteUri" Style="width: 50%; height: 75%;" />
            }
            @foreach (var callout in _response.Map.Callouts)
            {
                <div class="overlay-text"
                    style="left: @_response.GetRelativeX(callout.Location.X, _response.Map.XMultiplier, _response.Map.XScalarToAdd, _response.Map.DisplayName)px; top: @_response.GetRelativeY(callout.Location.Y, _response.Map.YMultiplier, _response.Map.YScalarToAdd, _response.Map.DisplayName)px;">
                    @callout.RegionName
                </div>
            }
        </MudItem>
    </MudContainer>
}